@tailwind base;
@tailwind components;
@tailwind utilities;

.home-section-div {
  height: 100vh;
}

.home-section-div div {
  height: 35%;
}

.home-section-img {
  max-width: 100;
  height: auto;
  width: auto\9;
}

.about-section-div {
  height: 60vh;
}

.about-section-img {
  max-width: 100;
  height: auto;
  width: auto\9;
}

.alternate-bg-dark {
  background-color: #6b7280;
}

.alternate-bg-cupcake {
  background-color: #f1f5f9;;
}

.alternate-bg-dark div.about-content {
  background-color: #4b5563;
}

.alternate-bg-cupcake div.about-content {
  background-color: #e2e8f0;
}