@tailwind base;
@tailwind components;
@tailwind utilities;

.home-section-div {
  height: 100vh;
}

.home-section-div div {
  height: 35%;
}

.home-section-img {
  max-width: 100;
  height: auto;
  width: auto\9;
}

.about-section-div {
  height: 60vh;
}

.about-section-img {
  max-width: 100;
  height: auto;
  width: auto\9;
}